<style>
    td,
    th {
        border: 1px solid green;
        text-align: center;
        padding: 8px;
    }

    button {
        padding: 10px;
    }
</style>
<div class="center">
    <h1>{{firstname}}'s Contact Table</h1>
</div>
<div>
    <table style="color:black;">
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>BMW</td>
            <td>Jurgen</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>Ferrari</td>
            <td>Mario</td>
            <td>Italy</td>
        </tr>
        <tr>
            <td>Apple</td>
            <td>Steve</td>
            <td>USA</td>
        </tr>
    </table>
</div>
<div *ngIf=peoplelist style="padding-top: 5%;">
    <table style="color:black;">
        <tr>
            <th>First name</th>
            <th>Company</th>
            <th>Toggle</th>
        </tr>
        <tr *ngFor="let people of peoplelist">
            <td>{{people.firstname}}</td>
            <td>
                <div [hidden]=!people.hide>{{people.company}}</div>
            </td>
            <td><button class="btn btn-primary" (click)="people.hide = !people.hide">Show/Hide</button></td>
        </tr>
    </table>
</div>
<br /><br />
<div class="center">
    <label>
        <h1>Enter the dynamic background color (HEX) below: </h1><input [(ngModel)]="bindingtext" />
    </label>
    <h1 style="width:70%;margin-left:15%;margin-right:15%;background-color:{{bindingtext}};">"{{bindingtext}}" is the
        new background color.</h1>
</div>
<div class="center">
    <p appHighlight>Testing of attribute directive</p>
</div>
<br />
<div class="center">
    <h4>Pick a highlight color</h4>
    <div>
        <input type="radio" name="colors" (click)="color='lightgreen'">Green
        <input type="radio" name="colors" (click)="color='yellow'">Yellow
        <input type="radio" name="colors" (click)="color='cyan'">Cyan
    </div>
    <p [appHighlight]="color" defaultColor="violet">Highlight me!</p>
</div>
<div class="center" [ngSwitch]="color">
    <p *ngSwitchCase="'lightgreen'" style="background-color:{{color}};">Selected color is lightgreen</p>
    <p *ngSwitchCase="'yellow'" style="background-color:{{color}};">Selected color is yellow</p>
    <p *ngSwitchCase="'cyan'" style="background-color:{{color}};">Selected color is cyan</p>
    <p *ngSwitchDefault>No color has been selected</p>
</div>